# ignore files
.Rproj.user
.Rhistory
.Rhistory (Francisco’s MacBook Pro's conflicted copy 2022-09-22)
.RData
.Ruserdata
.DS_Store
*.pdf
*.log

#ignore all files in directories
data/*
submission/*
adm/*
Published/*
/output/multifigure/*